@import "tailwindcss";

:root {
	--navbar-height: 5rem;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font-poppins), sans-serif;
}

/* Poppins par défaut */
body {
	font-family: var(--font-poppins), sans-serif;
}

/* Inter sur certains éléments */
.inter {
	font-family: var(--font-inter), sans-serif;
}

/* Geist Sans sur d'autres éléments */
.geist {
	font-family: var(--font-geist), sans-serif;
}

@theme {
	--color-mint: #88cfac;
	--color-mint-dark: #34835c;
	--color-green: #204f1e;
	--color-light: #fbfbed;
}

@layer utilities {
	.drop-shadow {
		filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
	}
}

@layer components {
	.primary-btn {
		@apply inline-block bg-mint text-light rounded-lg hover:bg-mint-dark duration-200 shadow-[0px_10px_8px_-7px_#34835c] hover:shadow-[0px_10px_8px_-7px_#88cfac] font-semibold py-2 px-6 cursor-pointer;
	}
}

/* Optimisations pour la navbar */
.fixed {
	position: fixed !important;
	z-index: 999;
}

/* Désactiver les highlights sur mobile */
* {
	-webkit-tap-highlight-color: transparent;
}
